<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Stupid Coaching</title>
  </head>
  <body>
  <h1>Stupid Coaching</h1>
  <h2>Ask any question to the coach</h2>
  <input class="form-control" type="text" placeholder="Default input">
  <button type="button" class="btn btn-secondary">Ask</button>
  
  </body>
</html>