// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: rgb(226, 217, 217);
  text-align: center;
}

h3 {
  font-style: italic;
}